:root {
  --bg-color:linear-gradient(135deg, #a18cd1, #fbc2eb);
  --primary-color: #81398f;
  --primary-text-color:#FFF;
  --secondary-text-color:#000;
}

:root[data-theme='dark'] {
  --bg-color:linear-gradient(145deg, 
    #0c0c0b 25%, 
    #1a0b1f 35%, 
    #0c0c0b 50%, 
    #000000 65%);
  --primary-color: #81398f;
  --primary-text-color:#000;
  --secondary-text-color:#FFF;
}

.toggle{
  font-size: 2rem;
  cursor:pointer;
}


body {
  background: var(--bg-color);
  min-height: 100vh;
  margin: 2rem 3rem .5rem  3rem;
  font-family: "Edu SA Hand", cursive;
  color: var(--secondary-text-color);
}

.title {
  text-align:center;
  color:var(--primary-color);
  font-weight: 800;
}

h2 {
  text-align:center;
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: .810rem;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 0;
}

.content {
  text-align: center;
  font-size: 1.5rem;
}

#input-date {
  background-color:#fbc2eb;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 3rem 0;
  color: #000;
}

.cycleDev__info-paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

button {
  border:none;
  background-color:var(--primary-color);
  color: var(--primary-text-color);
  padding: .5rem 1rem;
  border-radius: 1rem;
  margin: 0 1rem 2rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor:pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover{
  scale: 1.05;
}
